.offerWrapper {
  background-color: #fffaf2;
  padding-right: 0;
}

.offerCaption {
  height: max-content;
  width: 58.4rem;
}

.offerImage {
  height: 65rem;
  width: 56rem;
  overflow: hidden;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .offerWrapper {
    padding-right: 2.4rem;
    flex-direction: column;
    justify-content: center;
  }

  .offerImage {
    display: none;
  }

  .offerCaption {
    max-width: 100%;
  }

  .offerCaption h2 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }

  .offerCaption .btn {
    margin: auto;
  }
}
