.offerWrapper {
  background-color: #fffaf2;
  padding-right: 0;
}
.offerCaption {
  margin: 17.6rem 0;
}
.offerImage {
  margin: 5.9rem 0;
}

@media screen and (max-width: 768px) {
  .offerImage {
    display: none;
  }

  .offerCaption {
    max-width: 100%;
  }
}
