.headerWrapper {
  background-image: url("../../Images/Header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.topBar {
  height: 9.6rem;
}

.logo {
  height: 4.8rem;
}

.headerCaption {
  font-family: var(--font_extra_bold);
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 67px;
  letter-spacing: 0px;
}

.headerDescription {
  max-width: 40%;
}

.headerWrapper .ratings {
  position: absolute;
  top: 13.7rem;
  right: 41.2rem;
  height: 21.9rem;
}

.headerWrapper .totalSales {
  position: absolute;
  bottom: 4.41rem;
  right: 55.4rem;
  height: 18.6rem;
}

.headerWrapper .btn {
  margin-top: 4.8rem;
}

@media screen and (max-width: 768px) {
  .headerWrapper {
    background-image: url("../../Images/bgsmall.svg");
  }

  .logo {
    height: 2.4rem;
  }

  .brand span,
  .getStarted {
    font-size: 1.6rem;
  }

  .headerCaption {
    font-size: 3.6rem;
    line-height: 4.8rem;
    text-align: center;
  }

  .headerDescription {
    max-width: 100%;
    text-align: center;
  }

  .headerWrapper .ratings,
  .headerWrapper .totalSales {
    display: none;
  }

  .headerWrapper .btn {
    margin: auto;
    margin-top: 4.8rem;
  }
}
