* {
  box-sizing: border-box;
}

.row-header-container {
  background-image: url("../Images/Header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 120vh;
  /* max-height: 968px; */
  /* max-width: 400px; */
  position: relative;
}

.logo {
  height: 3.2rem;
  width: 4rem;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.4rem 7.2rem;
  font-family: Eina01-Bold, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  line-height: 16px;
  margin: auto;
}

.brand-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 13%;
  height: 4.8rem;
}

.text-card-header {
  padding: 2.4rem 7.2rem;
  margin-top: 10rem;
}
.leads {
  display: none;
}
.text-header {
  width: 55.6rem;
  height: 20.1rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: bold;
  font-size: 5.6rem;
  line-height: 6.7rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #ffffff;
}

.small-text {
  width: 48rem;
  margin-top: 2.4rem;
  height: 9.7rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.6rem;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.header-button {
  margin-top: 4.8rem;
}

.row-text-header {
  display: flex;
  /* min-height: 700px; */
}
.row-ratings {
  position: absolute;
  top: 12rem;
  left: 80rem;
}

.row-graph {
  position: relative;
  top: 47rem;
  left: 10rem;
}

.container-row {
  background-color: #fffaf2;
  /* background-size: cover;
  background-repeat: no-repeat; */
  padding-left: 7.2rem;
  justify-content: space-between;
}
.row-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body-text {
  width: 58.4rem;
  height: 33.6rem;
  font-family: Eudoxus Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.8rem;
  display: flex;
  align-items: center;
  color: #1a1a1a;
  margin-top: 17.6rem;
}
.image {
  margin: 5.9rem 0 5.9rem 0;
  display: flex;
  justify-content: flex-end;
  /* width: 56rem; */
  /* height: 65rem; */
}
.button-text {
  width: 80%;
  height: 5.6rem;
  margin: 3rem 0 17.6rem 0;
}
.text-body-section {
  width: 44.4rem;
  height: 9.6rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.8rem;
  display: flex;
  align-items: center;
  color: #1a1a1a;
  margin-top: 9.6rem;
}
.blue-ornament {
  z-index: 1;
  position: absolute;
  /* bottom: -4rem; */
  left: 35rem;
  height: 110rem;
  width: 115rem;
  top: -6rem;
}
.orange-ornament {
  z-index: 1;
  position: absolute;
  left: -3rem;
  top: 0rem;
  height: 91rem;
  width: 102rem;
}
.arrow-image {
  margin-top: 9.6rem;
  height: 2.4rem;
  width: 7.2rem;
}
.arrow-images {
  display: none;
}
.text-section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: 768px;
  background-color: #fff;
  margin: 6.2rem 7.2rem 0 7.2rem;
}
.text-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.digital-text {
  width: 43.7rem;
  height: 4.1rem;
  font-family: Eudoxus Sans, sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  display: flex;
  align-items: center;
  color: #74728d;
}

.images-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 6.2rem 0 30.6rem 0;
  position: relative;
  z-index: 2;
}

.img-card {
  height: 30rem;
  width: 30rem;
  box-shadow: 0px 4px 3px 3px #bbb9b9;
  position: relative;
  z-index: 2;
}
.box-shadow {
  display: grid;
  background-color: #fff;
}
.card-label {
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 800;
  font-size: 2rem;
  text-align: left;
  color: #1a1a1a;
  margin: 3rem 0 0 0;
  z-index: 2;
}
.lead-text-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
  position: relative;
  margin-top: 15rem;
}
.text-lead {
  background-color: #fffaf2;
  width: 60%;
  padding: 9.6rem 7.2rem 15.5rem 7.2rem;
  position: relative;
}
.text-mini {
  width: 26.8rem;
  height: 9.6rem;
  font-family: Eudoxus Sans, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.8rem;
  align-items: center;
  color: #1a1a1a;
}
.mini-card {
  height: 36.1rem;
  width: 36rem;
  margin-top: 3rem;
  background-color: #ffffff;
}

.blue-card {
  display: none;
}
.lead-paragraph {
  width: 51.8rem;
  height: 7.2rem;
  font-family: Eudoxus Sans sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  align-items: center;
  color: #1a1a1a;
  padding-top: 7.2rem;
}
.lead-butn {
  display: none;
}
.lead-button {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-right: 7.2rem;
  width: 40%;
  position: absolute;
  left: 75rem;
  top: -4rem;
}
.lead-text {
  width: 73.8rem;
  height: 36rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 600;
  font-size: 4.6rem;
  line-height: 7.2rem;
  align-items: center;
  text-align: right;
  color: #000066;
  margin: 24.2rem 0 3.6rem 0;
  z-index: 1;
  justify-self: self-end;
}
.button-lead {
  margin: 0rem 0 22.2rem 0;
  float: right;
  justify-self: self-end;
}
.review-paragraph {
  width: 96.9rem;
  height: 9.6rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.8rem;
  align-items: center;
  color: #1a1a1a;
  margin: 9.6rem 0 13.1rem 0;
}
.container-reviews {
  margin: 0 7.2rem 0 7.2rem;
}
.reviews-ratings {
  margin: 0 31.5rem 0 31.4rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.logo-review {
  display: flex;
  flex-direction: row;
}
.review-names {
  padding-left: 2.4rem;
  width: 66.1rem;
  height: 2.7rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  align-items: center;
  color: #1a1a1a;
  margin-bottom: 3.6rem;
}
.paragraph-review {
  width: 81.1rem;
  height: 21.6rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  align-items: center;
  color: #1a1a1a;
  margin: 2.6rem 0 8.1rem 0;
}
.team-services {
  background-color: #3bb7fc;
}
.team-process {
  /* padding-left: 7.2rem; */
  padding: 9.6rem 0 9.3rem 7.2rem;
  width: 66.9rem;
  height: 4.8rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.8rem;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.service-process {
  padding-top: 9.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.team {
  /* width: 90.7rem; */
  height: 56rem;
}
.team-work-img {
  /* width: 60%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.team-work-mark {
  display: none;
}
.team-work-list {
  display: flex;
  flex-direction: row;
}

.bullet-list {
  padding-left: 2.4rem;
  width: 60rem;
  height: 4.8rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #fff;
  margin-bottom: 3.2rem;
}
.button-bullet {
  margin-bottom: 7.6rem;
}
.team-work-list-mark {
  display: none;
}
.button-bullet-mark {
  display: none;
}
.container-figures {
  background-color: #ffece2;
}
.row-figures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.figures-sign {
  /* width: 60.6rem; */
  /* height: 6.4rem; */
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 400;
  text-align: center;
  align-content: center;
  font-size: 4.4rem;
  line-height: 6.4rem;
  color: #000066;
}
.text-fig {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  /* flex-direction: row; */
  /* padding: 6.2rem 0 8.3rem 0; */
  padding: 13.2rem 7.2rem 5.3rem 7.2rem;
}
.text-figure {
  /* width: 60.6rem; */
  height: 2.4rem;
  font-family: Eudoxus Sans;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.4rem;
  align-content: center;
  text-align: center;
  color: #0000fe;
}
.container-logo {
  background-color: #fff;
  padding: 9.6rem 0 9.6rem 7.2rem;
}
/* .container-logo-mini {
  display: none;
} */
.text-pg {
  height: 7.2rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: center;
  color: #1a1a1a;
  padding: 0 19.6rem 4.8rem 20.2rem;
}
.text-pg-mini {
  display: none;
}
.logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 6rem;
}
.row-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.brd-lg {
  display: none;
}
.container-percentage {
  background-color: #fff;
  padding: 9.6rem 7.2rem 19.6rem 7.2rem;
}
.paragraph-percent {
  width: 130rem;
  height: 8rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 4rem;
  align-items: center;
  color: #1a1a1a;
  padding: 0 54.9rem 0 0;
}
.read-arrow {
  display: flex;
  flex-direction: row;
}
.read-percent {
  font-family: Eudoxus Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  display: flex;
  align-items: center;

  color: #1a1a1a;
}
.row-blue-pink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: relative; */
}
.min-btn {
  background-color: #2a00a3;
  padding: 4.8rem 11.9rem 4.8rem 4.8rem;
  margin-top: 4.8rem;
  height: 82rem;
  width: 50.9rem;

  /* position: absolute; */
}
.min-btn-pink {
  background-color: #ffece2;
  padding: 4.8rem 11.9rem 4.8rem 4.8rem;
  height: 82rem;
  width: 50.9rem;
  margin-top: 25rem;
  /* margin: 31.4rem 0 35.4rem 0; */
}
.card-brand {
  align-items: flex-start;
  padding: 1.2rem 1.4rem;
  margin-bottom: 6.8rem;
  width: 18.5rem;
  height: 6.4rem;
  border-radius: 1rem;
  background: #ffffff;
}
.brand-card {
  color: #28009b;
  height: 4rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: 4rem;
  align-items: center;
  justify-content: center;
}
.increase-paragraph {
  width: 40.2rem;
  height: 28.8rem;
  font-family: Eudoxus Sans, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 9.2rem;
  align-items: center;
  color: #ffffff;
  margin-bottom: 10.5rem;
}
.increase-paragraph-pink {
  width: 40.2rem;
  height: 28.8rem;
  font-family: Eudoxus Sans, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 9.2rem;
  align-items: center;
  color: #1a1a1a;
  margin-bottom: 10.5rem;
}
.container-row-base {
  background-color: #000066;
  padding: 14.4rem 7.2rem 9.6rem 14.4rem;
}
.base-text {
  /* width: 81.1rem; */
  height: 16rem;
  font-family: Eudoxus Sans, sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.button-base {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4.2rem 40.2rem 2.4rem 40.3rem;
}
.brand-handles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 2.4rem 7.2rem 2.4rem 7.2rem;
}
.footer-handles {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  margin: 3.8rem 0 3.7rem 0;
}
.footer-paragraph {
  font-family: Eudoxus Sans, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.1rem;
  margin: 3.8rem 0 3.7rem 0;
}
.handle {
  font-family: Eudoxus Sans, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  /* text-align: left; */
}
.footer-handles-mini {
  display: none;
}

@media (max-width: 480px) {
  .row-header-container {
    background-image: url("../Images/bgsmall.svg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 110vh;
    max-width: 140vw;
    position: relative;
    width: 97%;
  }

  .row-ratings {
    display: none;
  }

  .row-graph {
    display: none;
  }

  .logo {
    height: 2.6rem;
    width: 3.8rem;
  }

  .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.8rem 2.4rem;
    font-family: Eina01-Bold, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    line-height: 16px;
    margin-left: 0;
    width: 80%;
    /* width: 48.3rem; */
  }

  .brand-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    height: 3.8rem;
  }

  .text-card-header {
    padding: 2.4rem 2.4rem;
    margin-top: 6rem;
  }

  .text-header {
    width: 80%;
    height: 20.1rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: bold;
    font-size: 4.6rem;
    line-height: 6.7rem;
    display: flex;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
  }

  .leads {
    display: none;
  }

  .small-text {
    width: 80%;
    margin-top: 6.4rem;
    height: 9.7rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
    line-height: 3.6rem;
    display: flex;
    text-align: center;
    color: #ffffff;
  }
  .header-button {
    /* width: 30rem; */
    margin: 4.8rem 0 0 0;
  }
  .container-row {
    padding-left: 2.4rem;
  }
  .body-text {
    width: 90%;
    height: 10.6rem;
    font-family: Eudoxus Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 4.2rem;
    display: flex;
    text-align: center;
    color: #1a1a1a;
    margin-top: 20.6rem;
    padding: 0;
  }
  .image {
    display: none;
  }
  .button-text {
    width: 50%;
    height: 5.6rem;
    align-items: center;
    justify-content: center;
    margin: 19rem 0rem 19.4rem 10rem;
  }
  .text-section {
    width: 90%;
  }
  .container-row {
    width: 97%;
  }
  .text-body-section {
    width: 90%;
    height: 9.6rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.8rem;
    display: flex;
    text-align: center;
    color: #1a1a1a;
    margin-top: 9.6rem;
  }
  .blue-ornament {
    display: none;
  }
  .orange-ornament {
    z-index: 1;
    /* position: absolute; */
    left: 1rem;
    top: -70rem;
    height: 280rem;
    width: 42rem;
    display: flex;
  }

  .arrow-images {
    /* margin-left: 40.4rem; */
    height: 2.4rem;
    width: 90%;
    margin-top: 3rem;
    /* float: right; */
    justify-content: flex-end;
    display: flex;

    /* position: absolute; */
  }

  .text-section {
    /* position: relative; */
    width: 90%;
    background-size: cover;
    background-color: #fff;
    margin: 6.2rem 2.4rem 0 2.4rem;
  }

  .digital-text {
    width: 90%;
    height: 4.1rem;
    font-family: Eudoxus Sans, sans-serif;
    font-size: 2rem;
    line-height: 2.6rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #74728d;
    margin-top: 10rem;
  }
  .arrow-image {
    display: none;
  }

  .images-text {
    display: none;
  }

  .img-card {
    display: none;
  }
  .box-shadow {
    display: none;
  }
  .card-label {
    display: nome;
  }
  .blue-card {
    background-color: #000066;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 54rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 1.6rem;
    padding: 5rem;
    z-index: 2;
    position: relative;
    margin: 2rem 0 2rem 4rem;
  }

  .img-blue-card {
    width: 120%;
    height: 80%;

    margin: 3rem;
  }

  .blue-card-label {
    width: 100%;
    height: 3.4rem;
    font-family: Eudoxus Sans, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.6rem;
    line-height: 2.6rem;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0 0 3rem 0;
  }

  .blue-card-text {
    font-family: Eudoxus Sans, sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0.6rem 0rem;
    width: 90%;
    height: 4rem;
  }

  .lead-text-button {
    width: 98%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 15rem;
    /* z-index: 2; */
  }

  .text-lead {
    background-color: #fffaf2;
    padding: 9.6rem 2.4rem 15.5rem 2.4rem;
    width: 100%;
    /* position: relative; */
  }
  .lead-paragraph {
    display: none;
  }

  .mini-card {
    height: 26.1rem;
    width: 85%;
    margin-top: 3rem;
    background-color: #ffffff;
  }

  .text-mini {
    width: 80%;
    height: 9.6rem;
    font-family: Eudoxus Sans, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 4.8rem;
    align-items: center;
    color: #1a1a1a;
  }
  .lead-button {
    display: none;
  }
  .lead-text {
    display: none;
  }

  .lead-butn {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-right: 2.4rem;
  }
  .ld-text {
    width: 90%;
    height: 24rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 5.2rem;
    align-items: center;
    text-align: right;
    color: #000066;
    margin: 14.2rem 0 0 0;
    /* z-index: 1; */
    /* justify-self: self-end; */
  }
  .butn-lead {
    margin: 12rem 0rem 0rem 15rem;
    float: right;
    width: 60%;
  }
  .container-reviews {
    margin: 0 2.4rem 0 2.4rem;
    width: 95%;
  }

  .review-paragraph {
    width: 90%;
    height: 9.6rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 4.8rem;
    align-items: center;
    color: #1a1a1a;
    margin: 9.6rem 0 13.1rem 0;
  }
  .logo-review {
    margin-top: 3rem;
    width: 80%;
  }
  .reviews-ratings {
    margin: 0 2.4rem 0 2.4rem;
    display: flex;
    flex-direction: column;
  }
  .review-names {
    padding: 1rem;
    width: 100%;
    font-size: 1.6rem;
    /* padding-bottom: 4rem; */
  }
  .paragraph-review {
    width: 90%;
    height: 1.6rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 150%;
    align-items: center;
    color: #1a1a1a;
    margin: 2.6rem 0 23rem 0;
  }
  .team-services {
    width: 100%;
    height: 123.9rem;
  }

  .service-process {
    padding-top: 6.3rem;
    display: flex;
    flex-direction: column;
  }
  .team-process {
    /* padding-left: 7.2rem; */
    padding: 6.6rem 0 5.3rem 2.4rem;
    width: 90%;
    height: 4.8rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 4.8rem;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  .team {
    width: 100%;
    height: 35rem;
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
  }
  .team-work-mark {
    display: flex;
    flex-direction: column;
  }

  .team-work-list-mark {
    display: flex;
    flex-direction: row;
    padding: 0 2.4rem 0 2.4rem;
  }

  .team-work-list {
    display: none;
  }
  .team-work {
    display: none;
  }
  .bullet-list-mark {
    padding-left: 2.4rem;
    width: 90%;
    height: 4.8rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #fff;
    margin-bottom: 3.2rem;
  }
  .bullet-list {
    display: none;
  }
  .button-bullet-mark {
    display: block;
    margin: 7.6rem 0 5.6rem -38rem;
    /* align-content: left; */
  }

  .container-figures {
    background-color: #ffece2;
    width: 100%;
    padding: 5.2rem 0rem 5.2rem 2.4rem;
  }
  .figures-sign {
    width: 80%;
    /* height: 6.4rem; */
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 600;
    text-align: center;
    align-content: center;
    font-size: 6.4rem;
    line-height: 6.4rem;
    color: #000066;
  }
  .row-figures {
    display: flex;
    flex-direction: column;
  }

  .text-fig {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 1.2rem 2.4rem 3.3rem 2.4rem;
  }

  .text-figure {
    height: 2.4rem;
    font-family: Eudoxus Sans;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 2.4rem;
    align-content: center;
    text-align: center;
    color: #0000fe;
    margin-top: 2rem;
  }
  .container-logo {
    display: none;
    width: 99%;
  }
  .container-logo-mini {
    background-color: #fff;
    width: 97%;
  }
  .text-pg {
    display: none;
  }
  .text-pg-mini {
    display: block;
    width: 90%;
    height: 6.2rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 4.6rem;
    text-align: center;
    color: #1a1a1a;
    padding: 6.4rem 2.4rem 0 2.4rem;
  }

  .logos {
    display: none;
  }
  .brd-lg {
    width: 88%;
    padding: 6.4rem 2.4rem 0 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 8rem 0rem 5rem 0rem;
  }
  .container-percentage {
    width: 100%;
    background-color: #fff;
    padding: 5.6rem 0rem 5.6rem 0rem;
  }

  .paragraph-percent {
    width: 90%;
    height: 8rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 4rem;
    align-items: center;
    color: #1a1a1a;
    padding: 0 0 20rem 2.4rem;
  }

  .read-percent {
    font-family: Eudoxus Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    color: #1a1a1a;
    padding: 4rem 0 0 2.4rem;
  }
  .Line {
    padding-left: 2.4rem;
  }
  .row-blue-pink {
    width: 99%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .min-btn {
    background-color: #2a00a3;
    padding: 2.8rem 0 rem 2.8rem 0rem;
    margin-top: 4.8rem;
    height: 75rem;
    width: 98%;
  }
  .min-btn-pink {
    background-color: #ffece2;
    padding: 2.8rem 0 rem 2.8rem 0rem;
    margin-top: 4.8rem;
    height: 75rem;
    width: 98%;
  }

  .increase-paragraph {
    width: 80%;
    height: 18.8rem;
    font-family: Eudoxus Sans, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 6.2rem;
    align-items: center;
    color: #ffffff;
    margin-bottom: 23.5rem;
  }
  .increase-paragraph-pink {
    width: 80%;
    height: 18.8rem;
    font-family: Eudoxus Sans, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 6.2rem;
    align-items: center;
    color: #1a1a1a;
    margin-bottom: 23.5rem;
  }
  .container-row-base {
    width: 99%;
    background-color: #000066;
    padding: 14.4rem 2.4rem 9.6rem 2.4rem;
  }

  .base-text {
    /* width: 21.1rem; */
    height: 25rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }

  .button-base {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6.2rem 0rem 2.4rem 10.3rem;
  }
  .footer-handles {
    display: none;
  }
  .footer-handles-mini {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1.8rem 0 3.7rem 0;
  }
  .handle-mini {
    font-family: Eudoxus Sans, sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    padding: 2rem 0 2rem 0;
    line-height: 1.8rem;
  }
  .brand-handles {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.4rem 2.4rem 2.4rem 2.4rem;
  }
  .footer-paragraph {
    font-family: Eudoxus Sans, sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.1rem;
    margin: 1.8rem 0 1.7rem 0;
  }
}

@media (max-width: 420px) {
  .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.8rem 2rem;
    font-family: Eina01-Bold, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    line-height: 16px;
    margin-left: 0;
    width: 90%;
    /* width: 48.3rem; */
  }

  .orange-ornament {
    z-index: 1;
    /* position: absolute; */
    left: 1rem;
    top: -70rem;
    height: 280rem;
    width: 32rem;
    display: flex;
  }
  /* .container-row-base {
    width: 90%;
    background-color: #000066;
    padding: 14.4rem 2.4rem 9.6rem 2.4rem;
  } */
  /* 
  .base-text {
    width: 21.1rem;
    height: 25rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  } */

  .button-base {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6.2rem 0rem 2.4rem 10.3rem;
  }
  .footer-handles {
    display: none;
  }
  .footer-handles-mini {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1.8rem 0 3.7rem 0;
  }
  .handle-mini {
    font-family: Eudoxus Sans, sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    /* padding: 2rem 0 2rem 0; */
    line-height: 1rem;
  }
  .brand-handles {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2.4rem 2rem 2.4rem;
  }
  .footer-paragraph {
    font-family: Eudoxus Sans, sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.1rem;
    margin: 1.8rem 0 1.7rem 0;
  }
}

@media (max-width: 375px) {
  .ld-text {
    width: 90%;
    height: 24rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.2rem;
    align-items: center;
    text-align: right;
    color: #000066;
    margin: 14.2rem 0 0 2.4rem;
    /* z-index: 1; */
    /* justify-self: self-end; */
  }
  .butn-lead {
    margin: 0rem 0rem 0rem 15rem;
    float: right;
    width: 60%;
  }

  .paragraph-review {
    width: 80%;
    height: 1.6rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 130%;
    align-items: center;
    color: #1a1a1a;
    margin: 2.6rem 0 23rem 0;
  }

  .team-services {
    margin-top: 10rem;
  }

  .text-pg-mini {
    display: block;
    width: 90%;
    height: 6.2rem;
    font-family: Eudoxus Sans, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 4.6rem;
    text-align: center;
    color: #1a1a1a;
    padding: 6.4rem 2.4rem 0 2.4rem;
  }

  .footer-handles-mini {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1.8rem 0 3.7rem 0;
  }
  .handle-mini {
    font-family: Eudoxus Sans, sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    /* padding: 2rem 0 2rem 0; */
    line-height: 1rem;
  }
  .brand-handles {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2.4rem 2rem 2.4rem;
  }
  .footer-paragraph {
    font-family: Eudoxus Sans, sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.1rem;
    margin: 1.8rem 0 1.7rem 0;
  }
}
