.strategyWrapper {
  background-color: #fff;
  position: relative;
  z-index: 2;
  height: 900px;
  padding-top: 9.6rem;
}

.strategyWrapper .strategyWrapper .arrows {
  width: 7.2rem;
  height: 2.4rem;
}

/* .strategyWrapper .track {
  position: relative;
  z-index: 5;
} */

.strategyWrapper .imgWrapper {
  height: 19.1rem;
  overflow: hidden;
  border-radius: 1.6rem;
}

.strategyWrapper .card-image {
  height: 100%;
  position: relative;
  z-index: 2;
}

.strategyWrapper .card {
  position: relative;
  padding: 2.4rem;
  z-index: 2;
  box-shadow: 0px 0px 35px 0px #00000008;
  border-radius: 1.6rem;
  background-color: var(--white);
}

/* .strategyWrapper .card-label {

} */

.strategyWrapper .blue-ornament {
  z-index: -1;
  position: absolute;
  height: 98rem;
  width: 110rem;
  top: 0rem;
  right: 0;
}

.strategyWrapper .orange-ornament {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 90rem;
  width: 98rem;
}
