:root {
  --primary: #0000fe;
  --primary_dark: #002266;
  --secondary: #4655c2;
  --navy: #001a4d;
  --tint: #ccd6eb;
  --transparent: transparent;
  --success: #219653;
  --warning: #ffcc00;
  --danger: #a10000;
  --text: #1a1a1a;
  --grey_1: #8d9091;
  --grey_2: #aaaaaa;
  --grey_3: #cccccc;
  --grey_4: #fafafa;
  --white: #ffffff;
  --font_black: "Circular Std Black";
  --font_regular: "Circular Std Book";
  --font_medium: "Circular Std Medium";
  --font_bold: "Circular Std Bold";
  --filter_primary: brightness(0%) saturate(100%) invert(9%) sepia(82%)
    saturate(7439%) hue-rotate(219deg) brightness(79%) contrast(101%);
  --filter_primary_dark: brightness(0%) saturate(100%) invert(7%) sepia(59%)
    saturate(7208%) hue-rotate(214deg) brightness(92%) contrast(106%);
  --filter_text: brightness(0%) saturate(100) invert(0%) sepia(3%)
    saturate(1462%) hue-rotate(60deg) brightness(84%) contrast(80%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  color: var(--text);
  margin: 0;
  overflow: scroll;
  font-family: var(--font_regular), -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 16px;
  letter-spacing: 0em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
